<h1>Calculadora de Interés Simple</h1>
<p> Estimado usuario: 
  <br>
  <br>El interés calculado para un capital de <b>${{capital}}</b> con una tasa de <b>{{interestRate}}%</b> y un plazo de <b>{{year}}</b> año(s) es de:
  <b>${{totalInterest}}</b>
  </p>
  <br>
  <a href="/interest-form">Volver a calcular</a>
  <br>
  <br>
  <a href="/">Ir a HOME</a>